@model Mvc.ViewModels.Order.CreateOrderViewModel

@if (TempData["success"]?.ToString() == "true")
{
    <div class="alert alert-success">You did a great deal!</div>
}

<form method="post">

    <input asp-for="Command.CustomerId" value="@Model.Customer.Id" type="hidden" />

    <strong>@Model.Customer.FullName.GetFullName()</strong>, your weapons are waiting !

    <h5 style="margin-top: 15px">Products in basket</h5>

    <div asp-validation-summary="All" class="text-danger"></div>

    @foreach (var product in Model.Products)
    {
        <div class="form-group">

            <strong>@product.Name</strong>
            <br />
            <small class="form-text text-muted">Quantity</small>

            @{ int productIndex = (int)product.Id - 1; }

            <input asp-for="Command.OrderItems[productIndex].ProductId" value="@product.Id" type="hidden" />
            <input asp-for="Command.OrderItems[productIndex].Quantity" class="form-control" />

            <span asp-validation-for="Command.OrderItems[productIndex].Quantity" class="text-danger"></span>
        </div>
    }

    <button clas="btn btn-primary" type="submit">Create order</button>
</form>
